body {
    background: #F8F9FB;
}

.card,
.answers-card {
    background: #FFFFFF;
    border-radius: 0.75rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);
    padding: 3rem;
    margin-bottom: 3rem;
}

.answers-card:last-of-type {
    display: none;
}

.hidden {
    display: none;
}

.hide {
    visibility: hidden;
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active {
    background: #288D85;
}

.btn-primary:hover,
.btn-primary.focus, .btn-primary:focus {
    background:  #126159;
}

.google-map {
    overflow: hidden;
    padding-bottom: 75%;
    position: relative;
    height: 0;
}

.google-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
